.work-history-wrapper {
  /* height: 25px; */
  width: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  align-items: center;
  grid-gap: 2%;

  /* border: 2px solid red; */
}


.job-wrapper {
  display: grid;
  grid-template-columns: repeat(4,25%);
  border-bottom: 1px solid lightgray;
  padding-bottom: 5%;
}

.job-title {
  text-align: center;
  grid-column: 1 / span 4;
}

.location {
  color: gray;
  text-align: center;
  grid-column: 1 / span 2;
}

.subtitle {
  color: gray;
  text-align: center;
  grid-column: 3 / span 2;
}

.job-wrapper iframe {
  position: relative;
  left: 40%;
}

.responsibilties {
  grid-column: 3 / span 2;
}

.resp-title {
  text-align: center;
  text-decoration: underline;
}
